@{
    PhanQuyenChucNang phanQuyenTraCuuBH = ViewBag.phanQuyen;
}
<div class="tables-wrapper">
        <div class="row">
                <div class="col-lg-12">
                    <div id="content" class="card-style mb-30 p-4" >
                        <div class = "tab-content pt-2">
                            <div class="tab-pane fade active show" id="bordered-justified-profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="form-group p-2 mb-2 card" id="groupTTSearchLichSu">
                                 <div class="row mb-2">
                                     <div class="col-sm-8 col-lg-8 select-style-4">
                                            <label for="KhachHang">Khách hàng</label>
                                            <select id="KhachHang" name="KhachHang" class="form-select w-100 my-selectize-2">
                                            </select>
                                        </div>
                                    <div class="col-sm-2 col-lg-2 input-style-4">
                                            <label for="fromDayCT" >Từ ngày</label>
                                            <input class="input-date" placeholder="dd-MM-yyyy" id="fromDayCT" name="fromDayCT" value="@DateTime.Now.ToString("dd-MM-yyyy")" type="text">
                                        </div>
                                        <div class="col-sm-2 col-lg-2 input-style-4">
                                            <label for="toDayCT" >Đến ngày</label>
                                            <input class="input-date" placeholder="dd-MM-yyyy" value="@DateTime.Now.ToString("dd-MM-yyyy")" type="text" id="toDayCT" name="toDayCT">
                                        </div>
                                </div>
                                 <div class="row mb-2 justify-content-between">
                                  <div class="col-sm-7 col-lg-7 select-style-4">
                                       <label for="hangHoaCT">Hàng hoá</label>
                                           <select id="hangHoaCT" name="hangHoaCT" class="form-select w-100 my-selectize-2">
                                        </select>
                                   </div>
                                   <div class="col-sm-4 col-lg-4 input-style-4">
                                            <label for="SDT">Số điện thoại</label>
                                            <input placeholder="Số điện thoại" type="text" id="SDT" name="SDT">
                                        </div>
                                @if (phanQuyenTraCuuBH.TimKiem.Value)
                                {
                                          <div class="col-12 col-sm-1 col-lg-1 d-flex justify-content-end mt-1">
                                             <button class="btn btn-light w-100" type="button" onclick="loadTableBaoCaoChiTiet()">
                                                 <i class="lni lni-keyword-research d-flex justify-content-center"></i>
                                             </button>
                                          </div>
                                }
                                </div>
                            </div>
                                <div class="card">
                                    <div id="tableBaoCaoChiTiet" class="table-responsive vh-md-50">
                                        <table class="table table-bordered top-selling-table table-hover display nowrap">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Ngày bán</th>
                                                    <th>Khách hàng</th>
                                                    <th>Mã hàng</th>
                                                    <th>Tên hàng</th>
                                                    <th>Số lượng bán</th>
                                                    <th>ĐVT</th>
                                                    <th>Giá bán</th>
                                                    <th>Kiểu bảo hành</th>
                                                    <th class="last-th-column">Trạng thái</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tBody">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
<script>
$(document).ready(function () {
    configDate();
        $.ajax({
            type: 'POST',
            url: '/QuanLy/XuatKho/api/khs'
        }).done(function (response) {
            $('#KhachHang').selectize({
                maxOptions: 50,
                valueField: "id",
                labelField: "ten",
                searchField: ["ten", "ma"],
                placeholder: '-- Khách hàng --',
                allowEmptyOption: false,
                loadThrottle: 400,
                options: response,
                render: {
                    item: function (item, escape) {
                        return '<div>' + escape(item.ten + ' (' + item.loai + ')') + '</div>';
                    },
                    option: function (item, escape) {
                        return `<div class="px-2 py-1"><b>${item.ten}</b> - [${item.loai}]</div>`;
                    }
                },
            });
        });
        $.ajax({
            type: 'POST',
            url: '/QuanLy/NhapKho/api/hhs'
        }).done(function (response) {
            $('#hangHoaCT').selectize({
                maxOptions: 50,
                valueField: "id",
                labelField: "ten",
                searchField: ["ten", "ma"],
                placeholder: '-- Hàng hoá --',
                allowEmptyOption: false,
                options: response,
                loadThrottle: 400,
                render: {
                    option: function (item, escape) {
                        return `<div class="px-2 py-1"><b>[${item.ma}]</b> - ${item.ten}</div>`;
                    },
                    no_results: function (data, escape) {
                        return '<div class="no-results">Không tìm thấy dữ liệu </div>';
                    },
                },
            });
        });
});

function loadTableBaoCaoChiTiet(){
    $("#loaderCT").show();
    $.ajax({
        type: "post",
        url: "/QuanLy/TraCuuBH/search-bh",
        data: "idHh=" + $('#hangHoaCT').val() + "&idKh=" + $('#KhachHang').val()
        + "&fromDay=" + $('#fromDayCT').val() + "&toDay=" + $('#toDayCT').val() + "&Sdt=" + $('#SDT').val(),
        success: function (result) {
            $("#loaderCT").hide();
            $('#tBody').replaceWith(result);
        },
        error: function (loi) {
            console.log(loi);
        }
    });
}
</script>