@model VaiTro 
<div class="card-style m-30" style="border: none;">
                  <h6 class="text-center">Thông tin</h6>
                  <div class="input-style-1">
                    <label for="Ma">Mã vai trò</label>
                    <input type="text" value="@Model.MaVaiTro" id="Ma" placeholder="Mã vai trò">
                  </div>
                  <div class="input-style-1">
                    <label for="Ten">Tên vai trò</label>
                    <input type="text" value="@Model.TenVaiTro" id="Ten" placeholder="Tên vai trò">
                  </div>
</div>