@model NhomHangHoa 
<div class="card-style m-30" style="border: none;">
                  <h6 class="mb-25 text-center">Thông tin</h6>
                  <div class="input-style-1">
                    <label for="Ma">Mã nhóm hàng hoá</label>
                    <input type="text" value="@Model.MaNhh" id="Ma" placeholder="Mã nhóm hàng hoá">
                  </div>
                  <div class="input-style-1">
                    <label for="Ten">Tên nhóm hàng hoá</label>
                    <input type="text" value="@Model.TenNhh" id="Ten" placeholder="Tên nhóm hàng hoá">
                  </div>
</div>