@model NganKe
<form id="formUpdate" class="card-style m-30" style="border: none;">
    <h6 class="text-center">Thông tin</h6>
    <div class="input-style-1">
        <label for="Ten">Tên ngăn kệ</label>
        <input class="form-control" required type="text" value="@Model.TenNganKe" id="Ten" placeholder="Tên ngăn kệ">
    </div>
</form> 