@model NhomNhanVien 
<form id="formUpdate" class="card-style m-30" style="border: none;">
                  <h6 class="text-center">Thông tin</h6>
                  <div class="input-style-1">
                    <label for="Ma">Mã nhóm nhân viên</label>
                    <input class="form-control" required type="text" value="@Model.MaNnv" id="Ma" placeholder="Mã nhóm nhân viên">
                  </div>
                  <div class="input-style-1">
                    <label for="Ten">Tên nhóm nhân viên</label>
                    <input class="form-control" required type="text" value="@Model.TenNnv" id="Ten" placeholder="Tên nhóm nhân viên">
                  </div>
</form>