@model GiaTheoNhomHh
@{
    string toDecimal(double? d)
    {
        if (d == null)
        {
            return "";
        }
        else
        {
            return d.Value.ToString("#,##0.00");
        }
    }
}
<div class="card-style m-30" style="border: none;">
	<h6 class="mb-25 text-center">Thông tin</h6>
    <div class="input-style-1">
        <label for="GBLe">Giá trị min</label>
        <input tabindex="5" type="text" value="@toDecimal(Model.Min)" id="min" placeholder="Giá trị min">
    </div>
    <div class="input-style-1">
        <label for="GBSi">Giá trị max</label>
        <input tabindex="6" type="text" value="@toDecimal(Model.Max)" id="max" placeholder="Giá trị max">
    </div>
    <div class="input-style-1">
        <label for="TLLe">Tỉ lệ lẻ</label>
        <input tabindex="3" type="text" value="@toDecimal(Model.TiLeLe)" id="TLLe" placeholder="Tỉ lệ lẻ" class="text-decimal">
    </div>
    <div class="input-style-1">
        <label for="TLSi">Tỉ lệ sỉ</label>
        <input tabindex="4" type="text" value="@toDecimal(Model.TiLeSi)" id="TLSi" placeholder="Tỉ lệ sỉ" class="text-decimal">
    </div>
</div>
<script>
$('input[type="text"]').blur(function(){
    if(/[0-9,.\-$]+/.test(this.value)){
        const value = this.value.replace(/,/g, '');
        this.value = parseFloat(value).toLocaleString('en-US', {
        style: 'decimal',
            maximumFractionDigits: 2,
            minimumFractionDigits: 2
            })
    }
});
$('.text-decimal').focus(function(){
    $('.text-decimal').removeClass('is-invalid')
});
function checkNumber(str) {
        return /[0-9,.\-$]+/.test(str);
}

</script>